/* Contenedor global para centrar todo el contenido */
.app-wrapper {
  max-width: 1900px;
  margin: 0 auto;
  width: 100%;
  background-color: #F5F7FA;
  display: flex;
  flex-direction: column;
  height: 100%;
  z-index: 5;
}

.app-content section {
  min-height: 100vh; /* altura exacta de la ventana */
  display: flex;
  flex-direction: column;
  justify-content: center;
}


/* Hace que el contenido crezca y empuje el footer hacia abajo */
/* En tu styles.scss global o el componente padre */
.app-content {
  display: flex;
  flex-direction: column;
}

section {
  width: 100%;
  /* Quitamos el opacity y colores de prueba si ya vas a usar el diseño final */
  min-height: 100vh;
  display: block;
  position: relative;
}

/* Asegúrate de que el footer esté posicionado */
app-footer {
  z-index: 3;
}
